@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
/*font-family: 'Bruno Ace SC', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-image: url(../images/fondomate4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.814);
    
}

.tituloeslogan {
    margin-left: 10px;
}

.titulo {
    font-family: fantasy;
    font-size: 200%;
    color: #FFFFFF;
}

.eslogan {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

.singincarrito {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    padding: 5px;
    justify-content: space-between;
}

.signinsignup {
    align-items: flex-start;
}

.carrito {
    align-items: flex-start;
    margin-left: 20px;
}

button {
    background: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

span  {
    display: inline-block;
    transform: skew(21deg);
    
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00C3FF;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover {
    color: #ffffff;
}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.814);
    width: 100%;
    z-index: 1;
}

.menuizq {
    display: flex;
    flex-direction: row;
    color: white;
    overflow: hidden;
}

.menuder {
    display: flex;
    flex-direction: row;
    color: white;
    overflow: hidden;
}

a, .botonesmenu {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-size: 120%;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    object-fit: cover;
}

a {
    color: #000;

}

.botonesmenu:hover,.logo:hover {
    transform: scale(1.2);
}

.logo {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.771);
    border-radius: 50%;
    transition: 0.5s;
    object-fit: cover;
}

.seccion {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulodestacados {
    display: flex;
    background-color: rgba(0, 0, 0, 0.814);
    margin-top: 20px;
    height: 30px;
    justify-content: center;
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.producto-precio {
    text-align: center;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.container-form {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {

    background-color: #131212ce;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #060607;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    color: #ffffff;
    text-decoration: underline;
  }

/*.flip-card-producto {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 20px;
    object-fit: cover;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-producto:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: white;
    border-radius: 1rem;
  }

   .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 300px;
    margin: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .flip-card-front {
    background: rgba(255, 228, 196, 0.596);
    color: rgba(255, 228, 196, 0.596);;
  }
  
  .flip-card-back {
    background: rgba(255, 228, 196, 0.596);;;
    color:black;
    transform: rotateY(180deg);
  }*/

  .producto-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .producto-descripcion ol {
    border: solid 2px;
    margin: 4px;
    background-color: #00000050;
  }

.producto {
    background-color: #ffffffbf;
    margin: 10px;
    transition: 0.5s;
    object-fit: cover;
    z-index: 0;
    text-align: center;
    font-size: 13px;
}

.resaltador {
    text-decoration: line-through;
    color: #000000aa;
    font-size: 13px;
    font-family: sans-serif;
}

.producto:hover {
    transform: scale(1.05);
}

.productos img {
    cursor: pointer;
    margin: 25px;
    height: 300px;
    width: 220px;
    border-radius: 5%;
    flex-direction: row;
    justify-content: center;
}

.txtproducto {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.titulo-yerbas {
    display: flex;
    background-color: rgba(0, 0, 0, 0.814);
    margin-top: 20px;
    height: 30px;
    justify-content: center;
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

tr {
    background-color: #e5e7eb;
}

tr.titulo-tabla {
    text-transform: uppercase;
    background-color:#000000cb;
    color: #FFFFFF;
}

td {
    border: solid 1px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #24262bad;
    padding: 15px 0;
    margin-top: 30px;
    
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}   

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.49);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 40%;
    color: #FFFFFF;
    transition: all .5s ease;

}

.social-link a:hover {
    background-color: #00C3FF;
}